/* Adicione ou modifique estilos conforme necessário */
body {
    background-color: #f0f5f9; /* Cor de fundo azul clara */
    color: #333; /* Texto em tom escuro para melhor contraste */
    margin: 0;
    font-family: Arial, sans-serif;
}

.content-wrapper {
    display: flex; /* Usar flexbox para organizar o layout */
}

header {
    text-align: center;
    padding: 5px 0;
    max-height: 150px; /* Limite máximo para o header */
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse o limite de altura */
}

header img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

button#menu-btn {
    position: fixed;
    top: calc(15vh + 40px); /* Posiciona o botão 40px abaixo do header */
    left: 20px; /* Posição inicial do botão */
    width: 25px; /* Reduz a largura do botão */
    height: 25px; /* Reduz a altura do botão */
    background: url(menu-icon.png) no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    z-index: 1; /* Mantém o botão acima do menu */
}
    
nav#menu {
    position: fixed;
    top: 15vh;
    left: -80%; /* Posição inicial, parcialmente escondido com 20px visíveis */
    width: 25%;
    height: 85vh;
    background-color: #fff;
    transition: left 0.3s ease;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav#menu ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

main {
    flex: 1; /* Ocupa todo o espaço disponível */
    display: flex;
    flex-direction: column;    
    margin-top: 20px; /* Adiciona margem superior de 20px */
    margin-left: 220px; /* Ajuste para acomodar a posição inicial do menu */
    background-color: #e6e9ec; /* Cor de fundo diferente dos blocos */
    padding: 20px;
    box-sizing: border-box;
       min-width: 200px; /* Define o valor mínimo para a largura do main */
}

.block {
    flex: 1 0 auto;
    margin: 0 10px 20px; /* Margem superior e inferior de 20px, margem esquerda e direita de 10px */
    border-radius: 10px; /* Cantos arredondados */
    background-color: #fff; /* Cor de fundo branca para os blocos */
    padding: 20px;
    box-sizing: border-box;
    position: relative; /* Necessário para o posicionamento absoluto da imagem */
}

.block img {
    position: absolute;
    top: 20px; /* Ajuste conforme necessário */
    right: 20px; /* Posição no canto superior direito */
    width: 25%; /* 1/4 do bloco */
    height: auto;
}

.block-link {
    display: block;
    text-decoration: none; /* Remove a sublinha dos links */
    color: inherit; /* Mantém a cor do texto dos blocos */
}

.top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    flex: 0 0 auto; /* Fixa a largura da sidebar */
    background-color: #add8e6; /* Cor de fundo azul claro para a sidebar */
    padding: 10px;
    box-sizing: border-box;
    margin-left: 0; /* Não definir margem esquerda inicialmente */
}

.small-block {
    width: calc(100% - 20px); /* Define a largura dos blocos igual à largura da sidebar menos as margens */
    height: 0; /* Zera a altura para manter a proporção quadrada */
    padding-top: calc(100% - 20px); /* Define a altura dos blocos igual à largura */
    margin-bottom: 10px; /* Espaçamento entre os blocos */
    background-color: #6c91a1; /* Cor de fundo dos blocos */
    border-radius: 5px; /* Adiciona cantos arredondados */
    overflow: hidden; /* Garante que o conteúdo dentro dos blocos não ultrapasse */
    display: flex; /* Torna os blocos flexíveis */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    color: #fff; /* Cor do texto para contraste */
    box-sizing: border-box;
    text-align: center; /* Centraliza o texto horizontalmente */
}
