body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    max-height: 150px;
    overflow: hidden;
}

header img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    display: flex;
    width: 100%;
}

.menu {
    width: 15%;
    background-color: #f4f4f4;
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 5px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
}

.main {
    width: 65%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px; /* Define o espaçamento vertical entre as linhas de blocos */
    column-gap: 10px; /* Define o espaçamento horizontal entre as colunas de blocos */
}

.main .bloco {
    width: calc(33.33% - 20px);
    max-height: 200px; /* Limitar a altura dos blocos */
    background-color: #e4e4e4;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    overflow: hidden; /* Esconder conteúdo excedente */
}

.main .bloco p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Limitar número de linhas do parágrafo */
    overflow: hidden;
}

.anuncios {
    width: 20%;
    padding: 10px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.anuncios .anuncio {
    background-color: #e4e4e4;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
